/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
    
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* header */

.logobookie {
    width: 60px;
    height: 20px;
}
.logo {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    }

nav {
    display: flex;
    gap: 60px;
}

.navigation:hover {
    border-top: solid 2px #0065FC;
       
}
nav a {
    display: flex;
    align-items: flex-end;
    height: 35px;
}

header {
    height: 79px;
    
}

/* H1 et partie formulaire */

.sous-header {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

h1 {
    font-size: 22px;
}

.h1 {
    height: 18px;
}

.formulaire {
    display: flex;
    align-items: stretch;
}

.location-dot{
    background-color: #F2F2F2;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#location {
    color: black;
}


.barre-recherche {
    text-align: center;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: #F2F2F2 solid;
}

.module-recherche {
    display: flex;
    align-items: end;
    
}

#marseille::placeholder {
    color: black;
    font-size: 18px;
}

.bouton {
    background-color: #0065FC;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    border: white;
    padding-left: 15px;
    padding-right: 15px;

}

/* filtres */

.filtres {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    font-weight: bold;
}

.bouton-filtres {
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
    padding: 12px;
    display: flex;
    gap: 10px;
}

.bouton-filtres:hover {
    background-color: #DEEBFF;
}

.information {
    display: flex;
    gap: 10px;
    align-items: center;
}

#info {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #D9D9D9 solid;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    font-size: 12px;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row !important;
    gap: 40px;
    height: 620px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card {
    width: 250px;
    height: 200px;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
}

.hebergements-cards .card-title, .card-subtitle, .card-rating {
    margin: 0px;
}

.hebergements-cards .card-title {
    margin-top: 4px;
}

.text-gras {
    font-size: 18px;
    font-weight: bold;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités  */

.acti {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activites {
    display: flex;
    flex-direction: row;
    gap: 30px;
    

}

.images-activites {
    width: 297px;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
 .minia {
    display: flex;
    flex-direction: column;
    
    
 }

 .text-activites {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 3PX 15PX #0000001A;;
 }

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}